<a href="https://colab.research.google.com/github/JunichiroHUy/CPE-103-OOP-1-A/blob/main/CPE_103_Laboratory_No_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating classes

In [22]:
class Accounts():
    account_number = 0
    account_firstname = ""
    account_lastname = ""
    current_balance = 0
    address = ""
    email = ""

    def update_address(new_address):
        Accounts.address = new_address

    def update_email(new_email):
        Accounts.email = new_email

In [23]:
class ATM():
    serial_number = 0

    def deposit(self, Accounts: Accounts, amount):
        Accounts.current_balance += amount
        print("depost complete")

    def withdraw(self, Accounts: Accounts, amount):
        Accounts.current_balance -= amount
        print("withdraw complete")

    def check_currentbalance(self, Accounts: Accounts):
        print(Accounts.current_balance)

Creating Instances

In [24]:

Account1 = Accounts()
Account1.account_firstname = "Royce"
Accounts.account_lastname = "Chua"
Account1.current_balance = 1000
Account1.address = "Silver Street Quezon City"
Account1.email = "roycechua123@gmail.com"

print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts()
Account2.account_firstname = "John"
Account2.account_lastname = "Doe"
Account2.current_balance = 2000
Account2.address = "Golden Street Quezon City"
Account1.email = "johndoe@yahoo.com"

print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

John
Doe
2000
Golden Street Quezon City

In [25]:

ATM1 = ATM()
ATM1.deposit(Account1, 500)
ATM1.check_currentbalance(Account1)

ATM1.deposit(Account2, 500)
ATM1.check_currentbalance(Account2)

depost complete
1500
depost complete
2500

Creating Constructors

In [26]:
class Accounts():
    def __init__(self, account_number, account_firstname, account_lastname,
                 current_balance, address, email):
        self.account_number = account_number
        self.account_firstname = account_firstname
        self.account_lastname = account_lastname
        self.current_balance = current_balance
        self.address = address
        self.email = email

    def update_address(self, new_address):
        self.address = new_address

    def update_email(self, new_email):
        self.email = new_email

In [27]:
Account1 = Accounts(123456, "Royce", "Chua", 1000, "Silver Street Quezon City",
                    "roycechua123@gmail.com")

print("Account1")
print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts(654321, "John", "Doe", 2000, "Golden Street Quezon City",
                    "johndoe@yahoo.com")
print("Account2")
print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

Account1
Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

Account2
John
Doe
2000
Golden Street Quezon City
johndoe@yahoo.com

Tasks

In [28]:

class ATM():
    serial_number = 0
    transactions_list = []

    def __init__(self, serial_number):
        self.serial_number = serial_number
        self.transactions_list = []  # Initialize empty list for each ATM
        print("ATM serial number:", self.serial_number)

    def deposit(self, Account: Accounts, amount):
        Account.current_balance += amount
        # Store account number and transaction type in list
        self.transactions_list.append(f"Account {Account.account_number} deposited ${amount}")
        print("deposit complete")

    def withdraw(self, Account: Accounts, amount):
        Account.current_balance -= amount
        # Store account number and transaction type in list
        self.transactions_list.append(f"Account {Account.account_number} withdrew ${amount}")
        print("withdraw complete")

    def check_currentbalance(self, Account: Accounts):
        print(f"Current balance: ${Account.current_balance}")

    def view_transactionsummary(self):
        print("\n=== Transaction Summary ===")
        if len(self.transactions_list) == 0:
            print("No transactions made yet")
        else:
            # Print each transaction on a new line
            for transaction in self.transactions_list:
                print(transaction)
        print("========================")


# Test the program
Account1 = Accounts(123456, "Royce", "Chua", 1000, "Silver Street Quezon City", "roycechua123@gmail.com")

print("Account1")
print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts(654321, "John", "Doe", 2000, "Golden Street Quezon City", "johndoe@yahoo.com")
print("Account2")
print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

print()

# Create ATM and perform transactions
ATM1 = ATM(67890)

# Test deposits
ATM1.deposit(Account1, 500)
ATM1.check_currentbalance(Account1)

ATM1.deposit(Account2, 500)
ATM1.check_currentbalance(Account2)

# Test withdrawals
ATM1.withdraw(Account1, 200)
ATM1.check_currentbalance(Account1)

# View transaction summary
ATM1.view_transactionsummary()

Account1
Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

Account2
John
Doe
2000
Golden Street Quezon City
johndoe@yahoo.com

ATM serial number: 67890
deposit complete
Current balance: $1500
deposit complete
Current balance: $2500
withdraw complete
Current balance: $1300

=== Transaction Summary ===
Account 123456 deposited $500
Account 654321 deposited $500
Account 123456 withdrew $200
========================