<a href="https://colab.research.google.com/github/JunichiroHUy/CPE-103-OOP-1-A/blob/main/Laboratory_Activity_No_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [3]:
value = 5
print(value)

type(value)

5

int

In [4]:
value = 5.0
print(value)
type(value)

5.0

float

In [9]:
value = 2+3j
print(value)
type(value)

(2+3j)

complex

In [7]:
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [8]:
value = "Hello World"
print(value)
type(value)

Hello World

str

In [10]:
value = True
print(value)
type(value)

True

bool

In [11]:
value = False
print(value)
type(value)

False

bool

In [12]:
value = [1,2,3,4,5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [13]:
value = (1,2,3,4,5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [14]:
value = {'name': 'Your_name'}
print(value)
type(value)

{'name': 'Your_name'}

dict

In [15]:
value = None
print(value)
type(value)

None

NoneType

Performing Operations with Python

In [19]:
value = 5.0
value2 = 6
print(value + value2)

value = 5
value2 = 6.1
print(value + value2)

value = "Hello, "
value2 = "World"
print(value + value2)

value = [1,2,3]
value2 =[4,5,6]
print(value + value2)

value =(1,2,3)
value2 =(4,5,6)
print(value + value2)

value ={"name":"Royce"}
value2 ={"age":2}
value.update(value2)
print(value)

11.0
11.1
Hello, World
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Royce', 'age': 2}

In [20]:
value, value2 = 30, 4
print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

Receiving Input Data using Python

In [21]:
name = input("Enter your name: ")
print(name)

Enter your name: chero
chero

Assigning Input Data to a Variable

In [25]:
name = input("Enter your name: ")
weight = float(input("Enter your weight (kg): "))
height = float(input("Enter your height (m): "))
bmi = weight/height**2

print("Name: ", name)
print("Weight: ", weight, "kg")
print("height: ", height, "m")
print("BMI: ", round(bmi, 4), "kg/m2")

feet = (height * 3.2808399)

print ("Guide: ", round(feet, 1), "feet ~", height, "m")

Enter your name: Chiro
Enter your weight (kg): 76
Enter your height (m): 1.32342
Name:  Chiro
Weight:  76.0 kg
height:  1.32342 m
BMI:  43.3929 kg/m2
Guide:  4.3 feet ~ 1.32342 m

Supplementary Activity

In [44]:
#1
base = 0
height = 0
area = 0

base = float(input("Enter the base of the triangle(m): "))
height = float(input("Enter the height of the triangle(m): "))

area = 0.5 * base * height
print ("The area of the triangle is: ", area, "m2")

Enter the base of the triangle(m): 4
Enter the height of the triangle(m): 5
The area of the triangle is:  10.0 m2

In [51]:
#2
for i in range(4):
  Celcius = float(input("Input temperature in celsius: "))
  Farenheit = (Celcius * 9/5) + 32
  print("Temperature in Farenheit: ", Farenheit, "°F")

Input temperature in celsius: 100
Temperature in Farenheit:  212.0 °F
Input temperature in celsius: 60
Temperature in Farenheit:  140.0 °F
Input temperature in celsius: 21
Temperature in Farenheit:  69.8 °F
Input temperature in celsius: 34
Temperature in Farenheit:  93.2 °F

In [58]:
#3
print ("Enter the values for: ")
x1 = float(input("Input x1: "))
y1 = float(input("Input y1: "))
x2 = float(input("Input x2: "))
y2 = float(input("Input y2: "))
d = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print ("d = √(", x2, "-", x1, ")²+(", y2, "-", y1, ")²")
print ("d = ", round(d, 9))

Enter the values for:
Input x1: 5
Input y1: 3
Input x2: 5
Input y2: 689
d = √( 5.0 - 5.0 )²+( 689.0 - 3.0 )²
d =  686.0