<a href="https://colab.research.google.com/github/JunichiroHUy/CPE-103-OOP-1-A/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numbers

In [ ]:
varNum = 123
pi = 3.14159

Strings

In [ ]:
varstring = "Hellooooooo"

Lists

In [ ]:
varlist = ["abc", 123]

Tuples

In [ ]:
vartuple = {'abc', 123}

In [8]:
var = 3
varDict = {'first':1, 2:'abc'}

varDict["first"] = 1

Arithmetic

In [ ]:
a = 5 + 6
b = 6 - 6
c = 5 * 5
d = 8 ** 7
e = 5 / 3
f = 5 % 3
h = 5 // 3

In [5]:
a = 5
a += 1
a-=1
b = 'hi ' + 'friend!'
c = 666 * 666 / 666

In [6]:
x = True

if x == True:
  print('yes')
else:
  print('no')

string = 'I love you'
if string == 'I love you':
  print('yes')
else:
  print('no')

numerical = 666
if numerical == '666':
  print('the number is a string')
elif numerical == 666:
  print('the number is a number')
else:
  print('the number is neither a string nor a number')

yes
yes
the number is a number

loop

In [2]:
for var in range(0, 5, 2):
  print(var)
print("\n")
num1 = 0
while num1 < 5:
  print(num1)
  num1 += 2

num2 = 0
while num2 < 5:
  for y in range(0, num2):
    print(y, end='')
  num2 += 1
  print()

0
2
4


0
2
4

0
01
012
0123

Functions

In [8]:
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10,4)

2

list

In [12]:
pi =3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])
print(varList[1])
print(varList[2])
print(varList[3])
print(varList[4])

varList.append('world')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
2
A
B
Hello!
world
3.14159
world

dictionaries

In [16]:
var = 'Hello world'
vardict = {'first' : 123, 2 : 'abc', '3' : var, 4 : ['lista', 'listb']}
print(vardict['first'])
print('\n')

print(vardict[2])
print('\n')

print(vardict['3'])
print('\n')

print(vardict[4])
print('\n')

print(vardict[4][0])
print('\n')

len(vardict)

123


abc


Hello world


['lista', 'listb']


lista

4

list generators and Comprehension

In [22]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varlist = range(0, 5, 2)
print([var for var in varlist])

[0, 2, 4]

Slicing

In [30]:
varlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varlist[:5])

print(varlist[5:])

print(varlist[:-2])

print(varlist[-2:])

print(varlist[2:-2])

print(varlist[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]