<a href="https://colab.research.google.com/github/JunichiroHUy/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [18]:
#This is a comment
print("Hello!")

Hello!

Variable Naming Conventions

In [19]:
myvar = "John"
#2myvar = "John"
_my_var = "John"
myVar = "John"
#my var = "John"

Python Variable

In [15]:
z = 1
a, b = 0, -1
c= "Sally"
print (a, b, z, c)
print (b)
print (z)
print (c)

0 -1 1 Sally
-1
1
Sally

Casting

In [26]:
b = "sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

b = 'sally' #Single Quote
print(b)

4
4.0
sally

Type() function

In [80]:
 x = 5
 y = "John"
 print(type(x))
 print(type(y))

<class 'int'>
<class 'str'>

“Double quotes” or ‘Single’ quotes

In [79]:
y = "John"
x = 'John'

print (y, x)

John John

Case sensitive

In [33]:
b = "I am"
B= "Working"
a = 4
A = "Sally"
#A will not overwrite a

print (b, B, a, A)

I am Working 4 Sally

Multiple Variables

In [37]:
x, y, z, k = "I", "love", "Chicken", "Nuggets"
print(x)
print(y)
print(z)
print(k)

I
love
Chicken
Nuggets

One Value to Multiple Variables

In [39]:
x = y = z = "Six"
print(x)
print(y)
print(z)

Six
Six
Six

Output Variables

In [40]:
x = "enjoying"
print("Python programming is " + x)

print ("or")

x ="running is "
y ="enjoying"
z = x + y
print(z)

Python programming is enjoying
or
running is enjoying

Arithmetic Operations

In [45]:
print (10**2) #Exponentiation

print (3//2) #floor division ang galinggggg

print (100%6) #Modulus

100
1
4

Assignment Operator

In [51]:
x = 5
x //= 3
print(x)

1

Comparison Operators

In [64]:
age = 9
if age != 18:
  print ("Get out of here kid!")
else:
  print ("Ok")

Get out of here kid!

Logical Operators

In [61]:
condition = 18
civil_status = "single"
if condition == 18 and civil_status == "Married":
  print ("You have been granted a family beneficial funds!")
else:
  print ("Try again next time!")

Try again next time!

Identity Operators

In [78]:
object1 = "Axe"
required_object = "Sword" or "sword"

if object1 is required_object:
  print ("Fight!")
else:
  print ("Go pick up a sword!")

Go pick up a sword!

Bitwise Operators

In [85]:
#Decimal to Binary
#10 = 1010
x = 10
print (x)

y = x>>2
print(y)

10
2

Application 1

In [134]:
#Application 1
#Show solution
#Area of Rectangle, Circle, Triangle

print ("Choose which shapes to calculate the area of")
print ("1. Rectangle")
print ("2. Circle")
print ("3. Triangle")
chosen_shape = int(input())
if int(chosen_shape) == 1:
  print ("Input the following dimensions:")
  print ("Length: ")
  l = input()
  print ("Width: ")
  w = input()
  print ("Area: ")
  print (float(l)*float(w))
elif int(chosen_shape) == 2:
  print ("Input the following dimensions:")
  print ("Radius: ")
  r = input()
  print ("Area: ", 3.14*float(r)*float(r))
elif int(chosen_shape) == 3:
  print ("Input the following dimensions:")
  print ("Base: ")
  b = input()
  print ("Height: ")
  h = input()
  print ("Area: ", 0.5*float(b)*float(h))
else:
  print("You have not chosen any")

Choose which shapes to calculate the area of
1. Rectangle
2. Circle
3. Triangle
5
You have not chosen any